<tauri-ngx-tree-list [treelist]="dblist" [showPlusIcon]="true" [showMinusIcon]="true" 
    class="border-right-1 surface-border min-w-20rem max-w-20rem"
    (selectedChange)="handleSelectedChangeEvent($event)"
    (controlPlusChange)="handlePlusActionEvent($event)"
    (controlMinusChange)="handleMinusActionEvent($event)"></tauri-ngx-tree-list>
<p-dataView gridStyleClass="border-1" [value]="source" [paginator]="true" [rows]="25" [totalRecords]="source.length" [showCurrentPageReport]="true" [showJumpToPageDropdown]="false"
    currentPageReportTemplate="第{currentPage}页/共{totalPages}页" class="flex-auto" styleClass="h-full" paginatorStyleClass="border-noround" #dataview>
    <ng-template pTemplate="header">
        <div class="flex align-items-center gap-3">
            <p-button icon="pi pi-spin pi-sync" label="刷新数据库" [raised]="true" (click)="handleUpdateIndexedDBListEvent()"/>
            <p-button icon="pi pi-database" label="创建数据库" [raised]="true" (click)="handleCreateDatabaseEvent()"/>
            <div class="flex-auto"></div>
            <ng-container *ngIf="dbName.length > 0 && dbVersion > 0 && osName.length > 0">
                <span class="font-bold">所属数据库：{{dbName}}（版本：{{dbVersion}}）</span>
                <span class="font-bold">所属存储表：{{osName}}</span>
            </ng-container>
            <div class="flex-auto"></div>
            <p-button icon="pi pi-spin pi-sync" label="刷新列表" [raised]="true" (click)="handleFindAllUsersEvent()"/>
            <p-button icon="pi pi-user-plus" label="新增账号" [raised]="true" severity="success" 
                [disabled]="dbName.length === 0 && dbVersion === 0 && osName.length === 0"
                (click)="handleAddUserEvent()"/>
            <p-button icon="pi pi-trash" label="全部删除" [raised]="true" severity="danger" [disabled]="source.length === 0" (click)="handleClearUserEvent()"/>
        </div>
    </ng-template>
    <ng-template pTemplate="empty">
        <tauri-ngx-empty-holder class="h-full" *ngIf="source.length === 0"></tauri-ngx-empty-holder>
    </ng-template>
    <ng-template pTemplate="list" let-source>
        <div class="flex flex-column overflow-x-hidden overflow-y-auto h-full" [class.h-full]="source.length > 0">
            <div class="flex align-items-center gap-6 p-3 m-0" [class.bg-primary]="i % 2 === 1" *ngFor="let item of source; index as i; last as last">
                <img [src]="item.profile.avatar.source" alt="item.profile.avatar.source" width="96" height="96" 
                        class="border-3 border-round-3xl border-500"
                        [class.bg-primary]="i % 2 === 0" [class.bg-primary-reverse]="i % 2 === 1"/>
                <div class="grid flex-auto text-xl">
                    <div class="col-1 font-bold">标识</div>
                    <div class="col-11">{{item.id}}</div>
                    <div class="col-1 font-bold">昵称</div>
                    <div class="col-3">{{item.profile.nickname}}</div>
                    <div class="col-1 font-bold">创建</div>
                    <div class="col-3">{{item.profile.createTime | date: 'YYYY/MM/dd HH:mm:ss'}}</div>
                    <div class="col-1 font-bold">修改</div>
                    <div class="col-3">{{item.profile.updateTime | date: 'YYYY/MM/dd HH:mm:ss'}}</div>
                    <div class="col-1 font-bold">账号</div>
                    <div class="col-3">{{item.account.username}}</div>
                    <div class="col-1 font-bold">密码</div>
                    <div class="col-7 white-space-nowrap overflow-hidden text-overflow-ellipsis">{{item.account.password}}</div>
                </div>
                <div class="flex flex-column gap-4">
                    <p-button icon="pi pi-user-edit" label="修改账户" severity="warning" [raised]="true" styleClass="white-space-nowrap" (click)="handleModifyUserEvent(item)"/>
                    <p-button icon="pi pi-user-minus" label="删除账户" severity="danger" [raised]="true" styleClass="white-space-nowrap" (click)="handleRemoveUserEvent(item)"/>
                </div>
            </div>
        </div>
    </ng-template>
</p-dataView>
<p-confirmDialog closable="false"/>
<p-toast life="5000"/>