.p-dataview {
    .p-dataview-header, .p-dataview-content, .p-paginator {
        background: none;
        border: none;
    }

    .p-dataview-header, .p-paginator {
        height: 5rem !important;
    }

    .p-dataview-content, .p-dataview-emptymessage {
        $width: 1px;
        border-color: var(--surface-border);
        border-top-width: $width;
        border-bottom-width: $width;
        border-left-width: 0;
        border-right-width: 0;
        border-style: solid;
        height: calc(100vh - 2 * $width - 2 * 5rem);
    }
}

.prompt {
    &.hidden {
        visibility: hidden;
    }

    &.success {
        color: var(--green-500);
    }

    &.warning {
        color: var(--yellow-500);
    }

    &.error {
        color: var(--red-500);
    }
}

.break-all {
    word-break: break-all;
}