<div class="flex flex-auto" [style.height]="'calc(100% - ' + ctrlBox_1.clientHeight + 'px - ' + ctrlBox_2.clientHeight + 'px - 3rem)'">
    <canvas class="surface-400 surface-border border-3 w-full h-full" #canvas></canvas>
</div>
<div class="flex align-items-center border-solid surface-border border-round-sm border-1 p-3 gap-4" #ctrlBox_1>
    <span class="font-bold text-xl text-primary white-space-nowrap">行数</span>
    <p-slider [disabled]="locked" [animate]="true" [min]="0" [max]="maxRows" [step]="1" [(ngModel)]="rows" class="w-full" (onSlideEnd)="handleGridRowColumnSelectChange()"/>
    <span class="font-bold text-xl text-primary">{{rows}}</span>
    <span class="font-bold text-xl text-primary white-space-nowrap">列数</span>
    <p-slider [disabled]="locked" [animate]="true" [min]="0" [max]="maxCols" [step]="1" [(ngModel)]="cols" class="w-full" (onSlideEnd)="handleGridRowColumnSelectChange()"/>
    <span class="font-bold text-xl text-primary">{{cols}}</span>
</div>
<div class="flex justify-content-between align-items-center surface-border border-round-sm border-1 p-3 gap-4" #ctrlBox_2>
    <p-button [disabled]="locked" [raised]="true" icon="pi pi-file-export" label="导出" class="white-space-nowrap"/>
    <div class="flex flex-auto justify-content-center font-bold text-xl text-primary white-space-nowrap">
        计时：{{timer | timer : true}}
    </div>
    <p-button [disabled]="locked" [raised]="true" icon="pi pi-sync" label="重置" class="white-space-nowrap" (click)="handleResetEvent()"/>
    <p-button [disabled]="locked" [raised]="true" icon="pi pi-play" label="运行" class="white-space-nowrap" (click)="handleRunTaskEvent()"/>
</div>