<div class="flex border-3 surface-border w-10 p-8 gap-8" [style.backdrop-filter]="'blur(0.5rem)'">
    <div class="border-circle border-3 border-500 bg-primary w-4 p-3">
        <img src="assets/images/error.404.svg" alt="error.404.svg" width="100%"/>
    </div>
    <div class="flex flex-column w-8 gap-4">
        <div class="font-bold text-primary text-8xl">页面未找到</div>
        <div class="flex-auto font-bold text-primary text-4xl">该页面根本不存在，嚯嚯嚯</div>
        <div class="flex justify-content-between align-items-center">
            <p-button label="返回首页" [routerLink]="['/playground', 'dashboard']"/>
            <p-button label="关于本站" [routerLink]="['/abount']"/>
        </div>
    </div>
</div>
