// @import url('https://fonts.font.im/css?family=Bungee');
// @import url('https://fonts.font.im/css?family=Bungee+Shade');
// @import url('https://fonts.font.im/css?family=Nosifer');
// @import url('https://fonts.font.im/css?family=Ewert');
// @import url('https://fonts.font.im/css?family=Hanalei+Fill');
// @import url('https://fonts.font.im/css?family=Hanalei');
@font-face {
    font-family: 'global-font';
    src: url(assets/fonts/YaheiUI/YaheiUI.ttf);
}

@font-face {
    font-family: 'hyxf-font';
    src: url(assets/fonts/HanYiXueFengTiJian/HanYiXueFengTiJian-1.ttf);
}

@font-face {
    font-family: 'bungee';
    src: url(assets/fonts/Bungee/Bungee-Regular.ttf);
}

* {
    ::-webkit-scrollbar {
        width: 0.75rem;
        height: 0.75rem;
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--primary-color);
        border-radius: 0.125rem;

        &:hover {
            background-color: var(--primary-400);
        }

        &:active {
            background-color: var(--primary-600);
        }
    }

    ::-webkit-scrollbar-button,
    ::-webkit-scrollbar-corner,
    ::-webkit-scrollbar-track {
        display: none;
    }
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    user-select: none;
}

.p-component {
    font-family: 'global-font';
    font-size: 16px;
}

