// @import url('https://fonts.font.im/css?family=Bungee');
// @import url('https://fonts.font.im/css?family=Bungee+Shade');
// @import url('https://fonts.font.im/css?family=Nosifer');
// @import url('https://fonts.font.im/css?family=Ewert');
// @import url('https://fonts.font.im/css?family=Hanalei+Fill');
// @import url('https://fonts.font.im/css?family=Hanalei');

html, body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    user-select: none;
}

.p-component {
    @font-face {
        font-family: 'global-font';
        src: url(assets/fonts/YaheiUI/YaheiUI.ttf);
    }

    font-family: 'global-font';
    font-size: 16px;
}

.logo-text {
    // @font-face {
    //     font-family: 'Bungee';
    //     src: url(assets/fonts/Bungee/Bungee-Regular.ttf);
    // }

    @font-face {
        font-family: 'logo-font';
        src: url(assets/fonts/HanYiXueFengTiJian/HanYiXueFengTiJian-1.ttf);
    }
    
    font-family: 'logo-font';
    font-size: 12rem;
    // font-family: 'Bungee', cursive;
    // font-family: 'Bungee Shade', cursive;
    // font-family: 'Nosifer', cursive;
    // font-family: 'Ewert', cursive;
    // font-family: 'Hanalei Fill', cursive;
    // font-family: 'Hanalei', cursive;
}