<p-toolbar [style]="{height: '5.5rem'}" [styleClass]="'border-noround'">
    <ng-template pTemplate="start">
        <a [routerLink]="['/playground']" class="flex no-underline" [style.height]="'3rem'">
            <img src="assets/logo/logo.png" height="100%"/>
        </a>
    </ng-template>
    <ng-template pTemplate="end">
        <div class="flex align-items-center gap-3">
            <p-dropdown [options]="localeOptions" optionLabel="text" optionValue="name" placeholder="请选择一种语言" [(ngModel)]="localeID" (onChange)="localeOnChange()">
                <ng-template pTemplate="item" let-locale>
                    <div class="flex align-items-center gap-3">
                        <img [src]="'assets/flags/flag.' + locale.flag + '.svg'" 
                            [alt]="'flag.' + locale.flag + '.svg'" height="24">
                        <span>{{locale.text}}</span>
                    </div>
                </ng-template>
                <ng-template pTemplate="selectedItem" *ngIf="localeID">
                    <div class="flex align-items-center gap-3">
                        <img [src]="'assets/flags/flag.' + findLocaleOption(localeID)?.flag + '.svg'" 
                            [alt]="'flag.' + findLocaleOption(localeID)?.flag + '.svg'" height="24">
                        <span>{{findLocaleOption(localeID)?.text}}</span>
                    </div>
                </ng-template>
            </p-dropdown>
            <p-dropdown [options]="styleNameOptions" optionLabel="text" optionValue="name" placeholder="请选择一种样式" [(ngModel)]="styleName" (onChange)="styleOnChange()"></p-dropdown>
            <p-dropdown [options]="styleColorOptions" optionLabel="text" optionValue="name" placeholder="请选择一种色彩" [(ngModel)]="styleColor" (onChange)="styleOnChange()">
                <ng-template pTemplate="item" let-color>
                    <div class="flex align-items-center gap-3">
                        <span class="color-show-panel" [style]="{'background-color': color.code}"></span>
                        <span>{{color.text}}</span>
                    </div>
                </ng-template>
                <ng-template pTemplate="selectedItem" *ngIf="styleColor">
                    <div class="flex align-items-center gap-3">
                        <span class="color-show-panel" 
                            [style]="{'background-color': findColorOption(styleColor)?.code}"></span>
                        <span>{{findColorOption(styleColor)?.text}}</span>
                    </div>
                </ng-template>
            </p-dropdown>
            <p-toggleButton [onLabel]="'夜晚'" [offLabel]="'白昼'" [onIcon]="'pi pi-moon'" [offIcon]="'pi pi-sun'" [(ngModel)]="styleMode" (onChange)="styleOnChange()"/>
            <p-button icon="pi pi-user" [rounded]="true" [raised]="true" [routerLink]="['/authorization', 'login']"/>
        </div>
    </ng-template>
</p-toolbar>
<div class="grid grid-nogutter" [style.height]="'calc(100% - 5.5rem)'">
    <div class="col-fixed border-right-1 surface-border overflow-auto scrollbar-visible-hidden w-16rem max-w-16rem h-full">
        <tauri-ngx-navlist [navlist]="navlist" [nodeKey]="key"></tauri-ngx-navlist>
    </div>
    <div class="col h-full">
        <div class="overflow-x-hidden overflow-y-auto w-full h-full p-2">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>